.imgage-test {
    background: url(http://differ-themes.com/templatemonster/wp/patheon/wp-content/uploads/2018/04/games1-1200x900.jpg) 0 0 no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.view {
    width: 100%;
    height: 275px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view .mask,
.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view .imgage-test {
    width: 100%;
    height: 100%;
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    margin: 20px 0 0 0
}

.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}

.view a.info {
    position: absolute;
    bottom: 30px;
    left: 25%;
    font-size: 24px;

    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: none;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-tenth .imgage-test {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}

.view-tenth .mask {
    //background-color: rgba(255, 231, 179, 0.3);
    //transition: all 0.5s linear;
    //opacity: 0;
    background-color: #000000;
    transition: all 0.5s linear;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    //padding-
}

.view-tenth a.info {
    box-shadow: none;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-tenth:hover .imgage-test {
    transform: scale(1.5);
    opacity: 0.9;
    //-webkit-transform: scale(10);
    //transform: scale(10);
    //opacity: .3;
}

.view-tenth:hover .mask {
    opacity: .7;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
}
