@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

nav {
    height: 75px;
}

nav .nav-wrapper {
  font-family: 'Playfair Display', serif;
  height: 100%;

  .app-header{
    height: 100%;
  }

}
