@import "~materialize-css/dist/css/materialize.css";

body {
  //background-color: rgba(255, 91, 132, 0.15);
  > router-view {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

main {
  flex: 1 0 auto;
}
