nav {
    height: 75px;

    .header-logo {
        background: url(header-logo.svg) 0 0 no-repeat;
        background-size: contain;
        height: inherit;
    }

    .sidenav-btn {
        margin-top: 47px;
        margin-left: 2px;
    }

    .nav-wrapper {
        height: 100%;

        .app-header{
            height: 100%;
        }
    }
}
