.top-nav {
    height: 100%;
    background-color: transparent;

    .menu-items {
        li, li a {
            height: 100%;
        }
        height: 100%;
    }

    .menu-hamburger {
        z-index: 999;
    }

    .brand-logo {
        height: inherit;
    }

    .header-logo {
        background: url(header-logo.svg) no-repeat center;
        background-size: contain;
        height: inherit;
    }

    .nav-wrapper {
        height: 100%;
        position: relative;
    }

    .sidenav-btn {
        position: absolute;
        bottom: -20px;
        left: 2px;
    }

    .header-sidenav {
        z-index: 999;
    }
}
